body{
    background-color: aliceblue;
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
}

button{
    font-size: 2rem;
    padding: 10px 20px;
    color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: bisque;
}
text:hover{
    background-color: bisque;
}
input[type="text"]{
    font-size: 2rem;
    padding: 10px;
    border: 2px solid black;
}

ol{
    padding: 10px;
}

li{
    font-size: 2rem;
    padding: 15px;
    background-color: aliceblue;
    border: 3px solid #ffffffd9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.text{
    flex: 10;
}
